* {
    font-family: 'Ruda', sans-serif;
    box-sizing: border-box;
}

html {
    background-color: #e0fbfc;
}

.profile {
    display: inline;
}

header {
    position: relative;
    left: 40%;
    top: 20px;
    padding: 20px;
    width: 400px;
    height: 100px;
    margin-bottom: 50px;
}

#about-me-section {
    margin-bottom: 30px;
}

#my-image {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    position: relative;
    left: 10px;
}

#name {
    position: relative;
    bottom: 40px;
    left: 20px;
    font-style: italic;
}

#current-position {
    position: relative;
    right: 80px;
    bottom: 15px;
    color: rgb(181, 182, 193);
    font-style: italic;
}

#about-me {
    text-align: center;
}

a {
    font-style: italic;
    text-decoration: none;
}

#tech-stack {
    position: relative;
    left: 150px;
}

#tech-stack .stack h3 {
    text-align: center;
    padding-top: 10px;
    color: white;
}

#tech-stack .stack {
    display: inline-block;
    height: 300px;
    width: 200px;
    /* background-color: #ee6c4d; */
    background-color: #3d58a0;
    border-radius: 10px;
    margin: 10px;
}

#tech-stack .stack:hover {
    font-size: larger;
}

#tech-stack .stack img {
    width: 150px;
    height: 150px;
    position: relative;
    left: 23px;
    bottom: 10px;
}

#socials h3 {
    font-size: medium;
    text-align: center;
}

#socials a {
    position: relative;
    left: 45.45%;
    padding-left: 5px;
    padding-right: 5px;
}

.social-image {
    width: 30px;
    height: 30px;
}